<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Birthday</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>

</head>

<body>
    <div id="balloon-container">
    </div>

    <p style="font-size: 5rem; margin: 0;text-align: center;" id="bdMsg">Blow!<span style="font-size: 1rem;">
            (For a surprise)
        </span></p>


    <main id="mainContainer">
        <div class="cake">
            <svg width="612" height="350" viewBox="0 0 612 605" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Frame 1" clip-path="url(#clip0_2_166)">
                    <g id="object">
                        <g id="cake">
                            <path id="shadow" opacity="0.1"
                                d="M306.472 583.635C475.731 583.635 612.943 569.107 612.943 551.186C612.943 533.264 475.731 518.736 306.472 518.736C137.212 518.736 0 533.264 0 551.186C0 569.107 137.212 583.635 306.472 583.635Z"
                                fill="#231F20" />
                            <g id="Group">
                                <g id="candles">
                                    <g id="Group_2">
                                        <g id="Group_3">
                                            <g id="Group_4">
                                                <path id="Vector" d="M262.453 70.6418H250.555V146.132H262.453V70.6418Z"
                                                    fill="#5D1F4E" />
                                                <path id="Vector_2"
                                                    d="M259.147 66.3638C258.107 67.3787 256.422 67.6011 255.15 67.1197C254.66 66.9792 254.015 66.9272 253.508 66.6279C251.627 68.1632 250.554 70.6418 250.554 70.6418H262.452C262.452 70.6418 261.246 67.8562 259.147 66.3638Z"
                                                    fill="#551A47" />
                                                <path id="Vector_3"
                                                    d="M259.147 66.3638C258.381 65.8174 257.495 65.4426 256.505 65.4426C255.357 65.4426 254.353 65.9397 253.508 66.6279C254.014 66.9259 254.66 66.9792 255.15 67.1197C256.422 67.6011 258.107 67.3787 259.147 66.3638Z"
                                                    fill="#49103C" />
                                                <g id="Group_5">
                                                    <path id="Vector_4"
                                                        d="M262.452 78.3416L250.555 83.3131V78.0515L262.452 73.08V78.3416Z"
                                                        fill="#FFC12B" />
                                                    <path id="Vector_5"
                                                        d="M262.452 89.855L250.555 94.8252V89.5662L262.452 84.5947V89.855Z"
                                                        fill="#FFC12B" />
                                                    <path id="Vector_6"
                                                        d="M262.452 101.368L250.555 106.34V101.078L262.452 96.1067V101.368Z"
                                                        fill="#FFC12B" />
                                                    <path id="Vector_7"
                                                        d="M262.452 112.879L250.555 117.852V112.593L262.452 107.621V112.879Z"
                                                        fill="#FFC12B" />
                                                    <path id="Vector_8"
                                                        d="M262.452 124.392L250.555 129.368V124.106L262.452 119.131V124.392Z"
                                                        fill="#FFC12B" />
                                                    <path id="Vector_9"
                                                        d="M262.452 135.906L250.555 140.879V135.618L262.452 130.646V135.906Z"
                                                        fill="#FFC12B" />
                                                </g>
                                                <g id="Group_6">
                                                    <path id="Vector_10"
                                                        d="M257.316 64.2417H255.903V66.3885H257.316V64.2417Z"
                                                        fill="#EFF0F0" />
                                                    <path id="Vector_11"
                                                        d="M257.316 64.3939H255.903C255.903 63.923 255.927 63.491 255.953 63.0343C256.025 61.7046 256.109 60.194 255.589 57.0974L256.95 56.5093C257.538 59.9963 257.44 61.7917 257.361 63.2308C257.336 63.6575 257.316 64.0244 257.316 64.3939Z"
                                                        fill="#414042" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <g id="Group_7">
                                        <g id="Group_8">
                                            <g id="Group_9">
                                                <path id="Vector_12"
                                                    d="M371.308 70.6417H359.41V146.132H371.308V70.6417Z"
                                                    fill="#5D1F4E" />
                                                <path id="Vector_13"
                                                    d="M368.002 66.3638C366.962 67.3786 365.276 67.6011 364.003 67.1197C363.515 66.9792 362.87 66.9271 362.364 66.6279C360.483 68.1632 359.41 70.6418 359.41 70.6418H371.308C371.308 70.6418 370.101 67.8561 368.002 66.3638Z"
                                                    fill="#551A47" />
                                                <path id="Vector_14"
                                                    d="M368.002 66.3637C367.236 65.8173 366.35 65.4426 365.358 65.4426C364.212 65.4426 363.206 65.9396 362.363 66.6279C362.869 66.9258 363.515 66.9792 364.002 67.1197C365.277 67.6011 366.962 67.3786 368.002 66.3637Z"
                                                    fill="#49103C" />
                                                <g id="Group_10">
                                                    <path id="Vector_15"
                                                        d="M371.308 78.3416L359.41 83.3131V78.0515L371.308 73.08V78.3416Z"
                                                        fill="#FFC12B" />
                                                    <path id="Vector_16"
                                                        d="M371.308 89.8549L359.41 94.8251V89.5661L371.308 84.5946V89.8549Z"
                                                        fill="#FFC12B" />
                                                    <path id="Vector_17"
                                                        d="M371.308 101.368L359.41 106.34V101.078L371.308 96.1067V101.368Z"
                                                        fill="#FFC12B" />
                                                    <path id="Vector_18"
                                                        d="M371.308 112.879L359.41 117.852V112.593L371.308 107.621V112.879Z"
                                                        fill="#FFC12B" />
                                                    <path id="Vector_19"
                                                        d="M371.308 124.392L359.41 129.368V124.106L371.308 119.131V124.392Z"
                                                        fill="#FFC12B" />
                                                    <path id="Vector_20"
                                                        d="M371.308 135.906L359.41 140.879V135.618L371.308 130.645V135.906Z"
                                                        fill="#FFC12B" />
                                                </g>
                                                <g id="Group_11">
                                                    <path id="Vector_21"
                                                        d="M366.17 64.2417H364.758V66.3885H366.17V64.2417Z"
                                                        fill="#EFF0F0" />
                                                    <path id="Vector_22"
                                                        d="M366.171 64.3939H364.759C364.759 63.9229 364.783 63.491 364.808 63.0343C364.882 61.7046 364.964 60.194 364.444 57.0974L365.806 56.5093C366.392 59.9962 366.295 61.7917 366.215 63.2307C366.19 63.6575 366.171 64.0244 366.171 64.3939Z"
                                                        fill="#414042" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <g id="Group_12">
                                        <g id="Group_13">
                                            <g id="Group_14">
                                                <g id="Group_15">
                                                    <g id="Group_16">
                                                        <path id="Vector_23"
                                                            d="M315.64 71.4419H303.87V146.131H315.64V71.4419Z"
                                                            fill="#FFC12B" />
                                                        <path id="Vector_24"
                                                            d="M312.373 67.2095C311.341 68.2126 309.675 68.4338 308.416 67.955C307.929 67.8171 307.292 67.7677 306.792 67.4697C304.928 68.9881 303.87 71.4419 303.87 71.4419H315.64C315.64 71.4419 314.447 68.6862 312.373 67.2095Z"
                                                            fill="#FBAF18" />
                                                        <path id="Vector_25"
                                                            d="M312.373 67.2094C311.613 66.6682 310.735 66.2974 309.753 66.2974C308.622 66.2974 307.627 66.7918 306.792 67.4697C307.292 67.7676 307.929 67.8171 308.416 67.955C309.675 68.4351 311.341 68.2139 312.373 67.2094Z"
                                                            fill="#E89E23" />
                                                        <g id="Group_17">
                                                            <path id="Vector_26"
                                                                d="M310.558 65.1121H309.161V67.2368H310.558V65.1121Z"
                                                                fill="#EFF0F0" />
                                                            <path id="Vector_27"
                                                                d="M310.558 65.2605H309.161C309.161 64.7947 309.184 64.3679 309.209 63.9151C309.282 62.5984 309.364 61.1087 308.849 58.042L310.199 57.4591C310.777 60.907 310.679 62.6856 310.603 64.1103C310.578 64.5318 310.558 64.8948 310.558 65.2605Z"
                                                                fill="#414042" />
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                        <g id="Group_18">
                                            <path id="Vector_28"
                                                d="M315.64 79.0599L303.87 83.9806V78.7749L315.64 73.8542V79.0599Z"
                                                fill="#E77F28" />
                                            <path id="Vector_29"
                                                d="M315.64 90.4509L303.87 95.3704V90.166L315.64 85.2466V90.4509Z"
                                                fill="#E77F28" />
                                            <path id="Vector_30"
                                                d="M315.64 101.842L303.87 106.763V101.558L315.64 96.6363V101.842Z"
                                                fill="#E77F28" />
                                            <path id="Vector_31"
                                                d="M315.64 113.738L303.87 118.657V113.453L315.64 108.532V113.738Z"
                                                fill="#E77F28" />
                                            <path id="Vector_32"
                                                d="M315.64 124.624L303.87 129.545V124.34L315.64 119.42V124.624Z"
                                                fill="#E77F28" />
                                            <path id="Vector_33"
                                                d="M315.64 136.015L303.87 140.933V135.73L315.64 130.811V136.015Z"
                                                fill="#E77F28" />
                                        </g>
                                    </g>
                                </g>
                                <g id="Group_19">
                                    <path id="Vector_34"
                                        d="M407.466 255.716C407.466 260.523 404.047 264.418 399.831 264.418H218.463C214.246 264.418 210.828 260.523 210.828 255.716V150.501C210.828 145.694 214.246 141.797 218.463 141.797H399.831C404.047 141.797 407.466 145.693 407.466 150.501V255.716Z"
                                        fill="#4E103F" />
                                    <path id="Vector_35" d="M407.467 202.092H210.828V212.345H407.467V202.092Z"
                                        fill="white" />
                                    <g id="Group_20">
                                        <g id="Clip path group">
                                            <mask id="mask0_2_166" style="mask-type:luminance"
                                                maskUnits="userSpaceOnUse" x="210" y="141" width="198" height="124">
                                                <g id="SVGID_00000121240865219764564540000000408664159206422431_">
                                                    <path id="Vector_36"
                                                        d="M407.466 255.716C407.466 260.523 404.047 264.418 399.831 264.418H218.463C214.246 264.418 210.828 260.523 210.828 255.716V150.501C210.828 145.694 214.246 141.797 218.463 141.797H399.831C404.047 141.797 407.466 145.693 407.466 150.501V255.716V255.716Z"
                                                        fill="white" />
                                                </g>
                                            </mask>
                                            <g mask="url(#mask0_2_166)">
                                                <path id="Vector_37"
                                                    d="M183.032 92.5106V150.733C183.032 168.286 195.516 182.515 210.915 182.515C221.701 182.515 231.037 175.523 235.675 165.309C240.313 175.523 249.648 182.515 260.434 182.515C271.218 182.515 280.554 175.523 285.193 165.309C289.829 175.523 299.165 182.515 309.952 182.515C320.737 182.515 330.073 175.523 334.711 165.309C339.349 175.523 348.683 182.515 359.469 182.515C370.255 182.515 379.591 175.523 384.229 165.309C388.867 175.523 398.202 182.515 408.988 182.515C424.386 182.515 436.871 168.286 436.871 150.733V92.5106H183.032Z"
                                                    fill="#E77F28" />
                                            </g>
                                        </g>
                                    </g>
                                    <g id="Group_21">
                                        <path id="Vector_38"
                                            d="M239.927 133.698C239.927 140.205 235.298 145.481 229.592 145.481C223.884 145.481 219.255 140.205 219.255 133.698C219.255 127.191 223.884 121.918 229.592 121.918C235.298 121.918 239.927 127.191 239.927 133.698Z"
                                            fill="#FFC12B" />
                                        <path id="Vector_39"
                                            d="M292.872 133.698C292.872 140.205 288.245 145.481 282.537 145.481C276.829 145.481 272.2 140.205 272.2 133.698C272.2 127.191 276.829 121.918 282.537 121.918C288.245 121.918 292.872 127.191 292.872 133.698Z"
                                            fill="#FFC12B" />
                                        <path id="Vector_40"
                                            d="M345.816 133.698C345.816 140.205 341.19 145.481 335.481 145.481C329.773 145.481 325.144 140.205 325.144 133.698C325.144 127.191 329.773 121.918 335.481 121.918C341.19 121.918 345.816 127.191 345.816 133.698Z"
                                            fill="#FFC12B" />
                                        <path id="Vector_41"
                                            d="M398.761 133.698C398.761 140.205 394.134 145.481 388.426 145.481C382.718 145.481 378.089 140.205 378.089 133.698C378.089 127.191 382.718 121.918 388.426 121.918C394.134 121.918 398.761 127.191 398.761 133.698Z"
                                            fill="#FFC12B" />
                                    </g>
                                </g>
                                <g id="Group_22">
                                    <g id="Group_23">
                                        <path id="Vector_42"
                                            d="M457.733 390.857C457.733 397.956 452.683 403.711 446.457 403.711H166.484C160.256 403.711 155.208 397.956 155.208 390.857V257.914C155.208 250.816 160.256 245.061 166.484 245.061H446.455C452.682 245.061 457.732 250.816 457.732 257.914L457.733 390.857Z"
                                            fill="#551746" />
                                        <g id="Group_24">
                                            <g id="Clip path group_2">
                                                <mask id="mask1_2_166" style="mask-type:luminance"
                                                    maskUnits="userSpaceOnUse" x="155" y="245" width="303" height="159">
                                                    <g id="SVGID_00000025420089206339277220000009203928428574355592_">
                                                        <path id="Vector_43"
                                                            d="M457.733 390.857C457.733 397.956 452.683 403.711 446.457 403.711H166.484C160.256 403.711 155.208 397.956 155.208 390.857V257.914C155.208 250.816 160.256 245.061 166.484 245.061H446.455C452.682 245.061 457.732 250.816 457.732 257.914V390.857H457.733Z"
                                                            fill="white" />
                                                    </g>
                                                </mask>
                                                <g mask="url(#mask1_2_166)">
                                                    <path id="Vector_44"
                                                        d="M483.086 203.619H132.622V265.653H132.63C132.628 265.774 132.622 265.891 132.622 266.011C132.622 286.291 147.044 302.729 164.834 302.729C177.284 302.729 188.075 294.675 193.439 282.893C198.801 294.675 209.593 302.729 222.043 302.729C234.494 302.729 245.285 294.675 250.647 282.89C256.009 294.675 266.801 302.729 279.252 302.729C291.701 302.729 302.492 294.675 307.854 282.893C313.218 294.675 324.009 302.729 336.459 302.729C348.908 302.729 359.7 294.675 365.064 282.893C370.424 294.675 381.218 302.729 393.669 302.729C406.117 302.729 416.909 294.675 422.271 282.893C427.635 294.675 438.426 302.729 450.878 302.729C468.668 302.729 483.089 286.291 483.089 266.011C483.089 265.89 483.082 265.773 483.081 265.653H483.089V203.619H483.086Z"
                                                        fill="#EE862F" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <g id="Group_25">
                                        <path id="Vector_45"
                                            d="M185.622 237.98C185.622 244.487 180.995 249.763 175.287 249.763C169.578 249.763 164.95 244.487 164.95 237.98C164.95 231.475 169.578 226.2 175.287 226.2C180.995 226.2 185.622 231.475 185.622 237.98Z"
                                            fill="#FFC12B" />
                                        <path id="Vector_46"
                                            d="M235.614 237.98C235.614 244.487 230.986 249.763 225.28 249.763C219.571 249.763 214.942 244.487 214.942 237.98C214.942 231.475 219.571 226.2 225.28 226.2C230.986 226.2 235.614 231.475 235.614 237.98Z"
                                            fill="#FFC12B" />
                                        <path id="Vector_47"
                                            d="M288.558 237.98C288.558 244.487 283.932 249.763 278.225 249.763C272.515 249.763 267.887 244.487 267.887 237.98C267.887 231.475 272.515 226.2 278.225 226.2C283.932 226.2 288.558 231.475 288.558 237.98Z"
                                            fill="#FFC12B" />
                                        <path id="Vector_48"
                                            d="M341.502 237.98C341.502 244.487 336.875 249.763 331.168 249.763C325.459 249.763 320.83 244.487 320.83 237.98C320.83 231.475 325.459 226.2 331.168 226.2C336.876 226.2 341.502 231.475 341.502 237.98Z"
                                            fill="#FFC12B" />
                                        <path id="Vector_49"
                                            d="M394.448 237.98C394.448 244.487 389.82 249.763 384.113 249.763C378.404 249.763 373.775 244.487 373.775 237.98C373.775 231.475 378.404 226.2 384.113 226.2C389.82 226.2 394.448 231.475 394.448 237.98Z"
                                            fill="#FFC12B" />
                                        <path id="Vector_50"
                                            d="M447.394 237.98C447.394 244.487 442.765 249.763 437.058 249.763C431.348 249.763 426.722 244.487 426.722 237.98C426.722 231.475 431.348 226.2 437.058 226.2C442.765 226.2 447.394 231.475 447.394 237.98Z"
                                            fill="#FFC12B" />
                                    </g>
                                </g>
                                <g id="Group_26">
                                    <g id="Group_27">
                                        <path id="Vector_51"
                                            d="M511.239 533.379C511.239 543.488 504.047 551.684 495.179 551.684H117.764C108.894 551.684 101.703 543.487 101.703 533.379V382.355C101.703 372.244 108.894 364.048 117.764 364.048H495.179C504.048 364.048 511.239 372.245 511.239 382.355V533.379Z"
                                            fill="#5D1F4E" />
                                        <path id="Vector_52" d="M511.238 503.378H101.702V516.599H511.238V503.378Z"
                                            fill="white" />
                                        <path id="Vector_53" d="M511.238 473.121H101.702V486.342H511.238V473.121Z"
                                            fill="white" />
                                        <g id="Group_28">
                                            <g id="Clip path group_3">
                                                <mask id="mask2_2_166" style="mask-type:luminance"
                                                    maskUnits="userSpaceOnUse" x="101" y="364" width="411" height="188">
                                                    <g id="SVGID_00000061462215203458192410000000737789161126981541_">
                                                        <path id="Vector_54"
                                                            d="M511.239 533.379C511.239 543.488 504.048 551.684 495.179 551.684H117.764C108.895 551.684 101.703 543.487 101.703 533.379V382.355C101.703 372.244 108.895 364.048 117.764 364.048H495.179C504.049 364.048 511.239 372.245 511.239 382.355V533.379V533.379Z"
                                                            fill="white" />
                                                    </g>
                                                </mask>
                                                <g mask="url(#mask2_2_166)">
                                                    <g id="Group_29">
                                                        <path id="Vector_55"
                                                            d="M101.702 370.88C97.3714 378.045 94.8293 386.725 94.8293 396.082C94.8293 420.647 112.297 440.559 133.848 440.559C148.928 440.559 162.001 430.802 168.497 416.529C174.993 430.802 188.065 440.559 203.145 440.559C218.225 440.559 231.297 430.802 237.794 416.528C244.289 430.802 257.362 440.559 272.442 440.559C287.52 440.559 300.592 430.802 307.088 416.529C313.584 430.802 326.658 440.559 341.738 440.559C356.817 440.559 369.889 430.802 376.385 416.529C382.88 430.802 395.953 440.559 411.034 440.559C426.112 440.559 439.184 430.802 445.682 416.529C452.177 430.802 465.25 440.559 480.33 440.559C501.879 440.559 519.348 420.647 519.348 396.082V334.048H101.702V370.88Z"
                                                            fill="#F68E37" />
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <g id="Group_30">
                                        <path id="Vector_56"
                                            d="M131.615 357.731C131.615 364.238 126.987 369.514 121.28 369.514C115.57 369.514 110.942 364.238 110.942 357.731C110.942 351.226 115.57 345.951 121.28 345.951C126.988 345.953 131.615 351.226 131.615 357.731Z"
                                            fill="#FFC12B" />
                                        <path id="Vector_57"
                                            d="M181.607 357.731C181.607 364.238 176.978 369.514 171.272 369.514C165.563 369.514 160.935 364.238 160.935 357.731C160.935 351.226 165.563 345.951 171.272 345.951C176.979 345.953 181.607 351.226 181.607 357.731Z"
                                            fill="#FFC12B" />
                                        <path id="Vector_58"
                                            d="M234.551 357.731C234.551 364.238 229.924 369.514 224.217 369.514C218.507 369.514 213.88 364.238 213.88 357.731C213.88 351.226 218.507 345.951 224.217 345.951C229.924 345.953 234.551 351.226 234.551 357.731Z"
                                            fill="#FFC12B" />
                                        <path id="Vector_59"
                                            d="M287.496 357.731C287.496 364.238 282.869 369.514 277.162 369.514C271.452 369.514 266.824 364.238 266.824 357.731C266.824 351.226 271.452 345.951 277.162 345.951C282.869 345.953 287.496 351.226 287.496 357.731Z"
                                            fill="#FFC12B" />
                                        <path id="Vector_60"
                                            d="M340.441 357.731C340.441 364.238 335.813 369.514 330.106 369.514C324.397 369.514 319.769 364.238 319.769 357.731C319.769 351.226 324.397 345.951 330.106 345.951C335.813 345.953 340.441 351.226 340.441 357.731Z"
                                            fill="#FFC12B" />
                                        <path id="Vector_61"
                                            d="M393.386 357.731C393.386 364.238 388.757 369.514 383.05 369.514C377.34 369.514 372.714 364.238 372.714 357.731C372.714 351.226 377.34 345.951 383.05 345.951C388.758 345.953 393.386 351.226 393.386 357.731Z"
                                            fill="#FFC12B" />
                                        <path id="Vector_62"
                                            d="M446.331 357.731C446.331 364.238 441.702 369.514 435.995 369.514C430.285 369.514 425.659 364.238 425.659 357.731C425.659 351.226 430.285 345.951 435.995 345.951C441.704 345.953 446.331 351.226 446.331 357.731Z"
                                            fill="#FFC12B" />
                                        <path id="Vector_63"
                                            d="M499.275 357.731C499.275 364.238 494.648 369.514 488.939 369.514C483.231 369.514 478.604 364.238 478.604 357.731C478.604 351.226 483.231 345.951 488.939 345.951C494.648 345.953 499.275 351.226 499.275 357.731Z"
                                            fill="#FFC12B" />
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g id="flame3">
                            <g id="Group_31">
                                <g id="Group_32">
                                    <path id="Vector_64"
                                        d="M365.717 61.5068C366.965 60.8328 369.133 59.0048 370.083 57.6165C377.355 46.971 368.614 34.2281 367.255 32.1346C366.167 30.4523 363.972 28.3732 363.592 28.1494C364.136 30.6163 364.244 32.6277 363.322 35.3249C361.687 40.0986 358 45.2145 358.924 51.1969C359.521 55.3084 362.468 60.4711 365.494 61.3376L365.717 61.5068Z"
                                        fill="#F0A718" />
                                </g>
                                <g id="Group_33">
                                    <path id="Vector_65"
                                        d="M365.717 61.5068C366.533 61.2075 367.715 60.2421 368.137 59.1791C370.337 53.6144 368.51 50.0377 367.785 48.6377C367.061 47.2403 365.121 43.9017 365.149 43.324C365.121 44.1749 363.68 47.0491 362.525 51.1813C361.37 55.3149 361.71 57.2327 362.902 59.2065C363.597 60.3514 364.335 60.9968 365.717 61.5068Z"
                                        fill="#FFC12B" />
                                </g>
                            </g>
                            <g id="Group_34">
                                <path id="Vector_66"
                                    d="M365.674 61.5068C366.326 61.2934 369.503 58.3959 367.282 54.0529C366.758 53.0289 365.178 50.2706 365.178 50.2706C365.178 50.2706 364.007 52.9222 363.084 55.8614C362.164 58.8032 364.57 61.1438 365.674 61.5068Z"
                                    fill="white" />
                            </g>
                            <path id="flame" opacity="0.05"
                                d="M378.089 41.2332C378.089 52.4083 372.452 61.4678 365.502 61.4678C358.548 61.4678 352.915 52.4083 352.915 41.2332C352.915 30.0594 358.549 20.9999 365.502 20.9999C372.454 20.9999 378.089 30.0594 378.089 41.2332Z"
                                fill="#FFC12B" />
                        </g>
                        <g id="flame2">
                            <g id="Group_35">
                                <g id="Group_36">
                                    <path id="Vector_67"
                                        d="M310.108 62.4059C311.343 61.7397 313.478 59.9195 314.428 58.5559C322.781 46.5976 312.976 35.416 311.632 33.3434C310.556 31.6793 308.384 29.6235 308.007 29.4023C308.545 31.8419 308.652 33.8339 307.738 36.5024C306.122 41.2241 302.473 46.2866 303.389 52.2053C303.98 56.2738 306.894 61.3806 309.888 62.2367L310.108 62.4059Z"
                                        fill="#F0A718" />
                                </g>
                                <g id="Group_37">
                                    <path id="Vector_68"
                                        d="M310.108 62.4058C310.918 62.1092 312.085 61.1555 312.503 60.1029C314.68 54.5954 312.873 51.0577 312.156 49.6733C311.441 48.2916 309.519 44.9894 309.55 44.4156C309.519 45.2561 308.095 48.099 306.953 52.1896C305.811 56.2777 306.149 58.1747 307.328 60.1289C308.013 61.2609 308.743 61.8984 310.108 62.4058Z"
                                        fill="#FFC12B" />
                                </g>
                            </g>
                            <g id="Group_38">
                                <path id="Vector_69"
                                    d="M310.065 62.4059C310.711 62.1938 313.856 59.3275 311.659 55.0287C311.139 54.0151 309.578 51.2854 309.578 51.2854C309.578 51.2854 308.417 53.9097 307.506 56.8203C306.594 59.7295 308.975 62.0442 310.065 62.4059Z"
                                    fill="white" />
                            </g>
                            <path id="flame_2" opacity="0.05"
                                d="M322.351 42.3456C322.351 53.4023 316.773 62.3655 309.896 62.3655C303.019 62.3655 297.443 53.401 297.443 42.3456C297.443 31.2902 303.019 22.3257 309.896 22.3257C316.773 22.327 322.351 31.2902 322.351 42.3456Z"
                                fill="#FFC12B" />
                        </g>
                        <g id="flame1">

                            <g>
                            </g>
                            <g id="Group_39">
                                <g id="Group_40">
                                    <path id="Vector_70"
                                        d="M256.863 61.5069C258.112 60.8329 260.28 59.0049 261.228 57.6166C268.502 46.9711 259.759 34.2282 258.401 32.1347C257.312 30.4524 255.118 28.3733 254.736 28.1495C255.281 30.6163 255.388 32.6278 254.467 35.325C252.831 40.0987 249.144 45.2146 250.067 51.197C250.664 55.3084 253.611 60.4712 256.637 61.3377L256.863 61.5069Z"
                                        fill="#F0A718" />
                                </g>
                                <g id="Group_41">
                                    <path id="Vector_71"
                                        d="M256.863 61.5069C257.678 61.2076 258.862 60.2422 259.282 59.1792C261.483 53.6144 259.655 50.0377 258.931 48.6378C258.207 47.2404 256.266 43.9018 256.295 43.3241C256.266 44.175 254.825 47.0491 253.671 51.1814C252.515 55.315 252.855 57.2328 254.047 59.2065C254.742 60.3515 255.481 60.9968 256.863 61.5069Z"
                                        fill="#FFC12B" />
                                </g>
                            </g>
                            <g id="Group_42">
                                <path id="Vector_72"
                                    d="M256.82 61.5069C257.471 61.2935 260.648 58.396 258.427 54.0529C257.903 53.029 256.324 50.2706 256.324 50.2706C256.324 50.2706 255.152 52.9223 254.23 55.8615C253.31 58.8032 255.717 61.1439 256.82 61.5069Z"
                                    fill="white" />
                            </g>
                            <path id="flame_3" opacity="0.05"
                                d="M269.234 41.2333C269.234 52.4083 263.6 61.4678 256.647 61.4678C249.695 61.4678 244.06 52.4083 244.06 41.2333C244.06 30.0595 249.696 21 256.647 21C263.599 21 269.234 30.0595 269.234 41.2333Z"
                                fill="#FFC12B" />
                        </g>
                        <path id="Star 1"
                            d="M288.576 440.586C299.797 430.119 317.203 430.119 328.424 440.586L329.824 441.891C335.373 447.068 342.961 449.467 350.478 448.421L373.717 445.188C383.075 443.886 390.236 453.348 386.442 462V462C383.6 468.481 386.914 476.005 393.613 478.284L394.632 478.631C406.443 482.648 406.443 499.352 394.632 503.369L393.613 503.716C386.914 505.995 383.6 513.519 386.442 520V520C390.236 528.652 383.075 538.114 373.717 536.812L350.478 533.579C342.961 532.533 335.373 534.932 329.824 540.109L328.424 541.414C317.203 551.881 299.797 551.881 288.576 541.414L287.176 540.109C281.627 534.932 274.039 532.533 266.522 533.579L243.283 536.812C233.925 538.114 226.764 528.652 230.558 520V520C233.4 513.519 230.086 505.995 223.387 503.716L222.368 503.369C210.557 499.352 210.557 482.648 222.368 478.631L223.387 478.284C230.086 476.005 233.4 468.481 230.558 462V462C226.764 453.348 233.925 443.886 243.283 445.188L266.522 448.421C274.039 449.467 281.627 447.068 287.176 441.891L288.576 440.586Z"
                            fill="#F68E37" />
                        <text x="310" y="490" fill="white" font-size="30" text-anchor="middle" id="nameText">
                            <% if (name) { %>
                                <%= name %>
                                    <% } %>
                        </text>
                    </g>
                </g>
                <defs>
                    <clipPath id="clip0_2_166">
                        <rect width="612" height="605" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </div>

    </main>
    <button id="micAccessBtn">Allow access to mic</button>
    <script src="/script.js" type="module"></script>
</body>

</html>